<% @validaciones.try(:each) do |tabla| %>
  <h3><%= CGI.escapeHTML(tabla[:titulo]) %>: <%= tabla[:cuerpo].count %></h3>
  <% if tabla[:cuerpo].count > 0 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% tabla[:encabezado].try(:each) do |enc| %>
            <th><%= CGI.escapeHTML(enc) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% tabla[:cuerpo].try(:each) do |fila| %>
          <tr>
            <% i=0; fila.try(:each) do |campo| %>
              <td>
                <% if i == 0 && tabla[:encabezado][i] == 'Código' %>
                  <%= link_to(
                    campo[1].to_i, 
                    sivel2_gen.edit_caso_path(campo[1].to_i)) if campo[1] %>
                <% elsif i == 3 && tabla[:encabezado][i] == 'Ids 5 primeras personas' %>
                  <% pids = campo[1][1..-2].split(',') %>
                  <% sep = ''.html_safe %>
                  <% pids.each do |pid| %>
                    <% na = Sip::Persona.connection.execute("SELECT soundexespm(nombres || ' ' || apellidos) FROM sip_persona WHERE id=#{pid}")[0]['soundexespm'] %>
                    <% puts na %>

                    <%= sep + link_to(
                      pid + " (#{na})",
                      sip.persona_path(pid.to_i),
                      target: '_blank')
                    %>
                    <% sep = ', '.html_safe %>
                  <% end %>
                <% elsif i == 4 && tabla[:encabezado][i] == 'Ids Actividades' %>
                  <% aids = campo[1][1..-2].split(',') %>
                  <% sep = ''.html_safe %>
                  <% aids.each do |aid| %>
                    <%= sep + link_to(
                      aid,
                      cor1440_gen.actividad_path(aid.to_i),
                      target: '_blank')
                    %>
                    <% sep = ', '.html_safe %>
                  <% end %>
                <% elsif i == 5 && tabla[:encabezado][i] == 'Editores Act. cerca a ingreso personas' %>
                  <% nuids = campo[1][1..-2].split(',').join(', ') %>
                  <%= CGI.escapeHTML(nuids) %>
                <% else %>
                  <%= CGI.escapeHTML(campo[1].to_s) if campo[1] %>
                <% end %>
                <% i += 1 %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>



