<h2>Municipios Expulsores</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Msip::Ubicacion.human_attribute_name(:pais_id) %></th>
      <th><%= Msip::Ubicacion.human_attribute_name(:departamento_id) %></th>
      <th><%= Msip::Ubicacion.human_attribute_name(:municipio_id) %></th>
      <th>Contactos</th>
      <th>Beneficiarios</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @expulsores.try(:each) do |cmun| %>
      <tr>
        <td><%= cmun['pais'] %></td>
        <td><%= cmun['departamento'] %></td>
        <td><%= cmun['municipio'] %></td>
        <td><%= cmun['contacto'] %></td>
        <td><%= cmun['beneficiario'] %></td>
        <td><%= cmun['npersona'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Municipios Receptores</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Msip::Ubicacion.human_attribute_name(:pais_id) %></th>
      <th><%= Msip::Ubicacion.human_attribute_name(:departamento_id) %></th>
      <th><%= Msip::Ubicacion.human_attribute_name(:municipio_id) %></th>
      <th>Contactos</th>
      <th>Beneficiarios</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @receptores.try(:each) do |cmun| %>
      <tr>
        <td><%= cmun['pais'] %></td>
        <td><%= cmun['departamento'] %></td>
        <td><%= cmun['municipio'] %></td>
        <td><%= cmun['contacto'] %></td>
        <td><%= cmun['beneficiario'] %></td>
        <td><%= cmun['npersona'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
