<div class="accordion" id="acordeon_dfids">
  <%= item_acordeon_bs(
    'acordeon_dfids', 'dfids', 
    'Expandir / Colapsar', false, {
      'estilo_accordion-header': 'text-align: center',
      'clase_accordion-body': 'table-responsive',
      'estilo_accordion-body': 'overflow-x:scroll'
    }) do %>
    <table class='table table-bordered table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>DF</th>
          <th>Actividad</th>
          <th style='min-width: 6em'>Fecha</th>
          <th>Nombre</th>
          <th>
            <%= Cor1440Gen::Actividad.human_attribute_name(:proyectofinanciero) %> - Actividad de ML 
          </th>
          <th>Unidad</th>
          <th>Valor promedio por persona por unidad</th>
        </tr>
      </thead>
      <tbody>
        <% @registro.detallefinanciero.order(:actividad_id).each do |d| %>
          <tr>
            <td><%= d.id %></td>
            <td>
              <%= link_to(
                d.actividad_id, 
                cor1440_gen.actividad_path(d.actividad_id), 
                target: '_blank') %>
            </td>
            <td>
              <%= d.actividad.fecha %>
            </td>
            <td>
              <%= d.actividad.nombre %>
            </td>
            <td>
              <%= d.proyectofinanciero.nombre if d.proyectofinanciero %> -
              <%= d.actividadpf.titulo if d.actividadpf%>
            </td>
            <td>
              <%= d.unidadayuda ? d.unidadayuda.nombre : '' %>
            </td>
            <td>
              <%= d.valorunitario %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div> 
