<% if @motor && @motor != "" %>
  <p> <strong>Motor:</strong> <%= @motor %> <strong>Versi贸n:</strong> <%= @motor_version %></p>
  <p> <strong>Descripci贸n:</strong> <%= @motor_descripcion %></p>

  <h2>Tablas</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Descripci贸n</th>
        <th>Llave primaria</th>
        <th>Atributos</th>
        <th>Registros</th>
      </tr>
    </thead>
    <% i = 1 %>
    <tbody>
      <% @motor_tablas.each do |t| %>
        <tr>
          <td><%= i %></td>
          <td><%= t[:nombre] %></td>
          <td><%= t[:descripcion] %></td>
          <td><%= t[:llave_primaria] %></td>
          <td><%= t[:atributos].join(", ") %></td>
          <td><%= t[:registros] %></td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>

  <h2>Relaciones entre tablas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Descripci贸n</th>
        <th>Llave primaria</th>
        <th>Atributos</th>
        <th>Registros</th>
      </tr>
    </thead>
    <% i = 1 %>
    <tbody>
      <% @motor_relaciones.each do |t| %>
        <tr>
          <td><%= i %></td>
          <td><%= t[:nombre] %></td>
          <td><%= t[:descripcion] %></td>
          <td><%= t[:llave_primaria] %></td>
          <td><%= t[:atributos].join(", ") %></td>
          <td><%= t[:registros] %></td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>


<% end %>
