<table class="tablalistadovictima table table-striped  table-bordered table-sm  ">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th colspan="2">Nombre</th>
      <th colspan="2">Identificación(es)</th>
      <th>Relación con contacto</th>
      <th>Perfil</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody id="victima">
    <% @registro.victima.each do |victima| %>
      <% colad = 1 + victima.persona.docidsecundario.count %>
        <tr style="<%= victima.victimasjr.fechadesagregacion.nil? ? "" : "text-decoration: line-through;"%>">
        <td rowspan="<%= colad %>">
          <%= link_to victima.persona_id, 
            msip.persona_path(victima.persona_id),
            target: "_blank" %>
        </td>
        <td rowspan="<%= colad %>">
          <%= victima.persona.nombres if victima.persona.nombres %>
        </td>
        <td rowspan="<%= colad %>">
          <%= victima.persona.apellidos if victima.persona.apellidos %>
        </td>
        <td>
          <%= victima.persona.tdocumento.sigla if victima.persona.tdocumento%>
        </td>
        <td>
          <%= victima.persona.numerodocumento if victima.persona.numerodocumento %>
        </td>
        <td rowspan="<%= colad %>">
          <% if @registro.casosjr.contacto_id.to_i != victima.persona.id %>
            <% rol = Sivel2Sjr::Victimasjr.find(victima.id).rolfamilia %>
            <%= rol ? rol.nombre : '' %>
          <% else %>
            -
          <% end %>
        </td>
        <td rowspan="<%= colad %>">
          <%= victima.persona.ultimoperfilorgsocial_id ? 
            victima.persona.ultimoperfilorgsocial.nombre : '' %>
        </td>
        <td rowspan="<%= colad %>">
          <%= victima.persona.telefono.to_s %>
        </td>
      </tr>
      <% victima.persona.docidsecundario.each do |ds| %>
        <tr>
          <td><%= ds.tdocumento.sigla %></td>
          <td><%= ds.numero %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
