  <div class="panel-body table-responsive" style="min-height: 20em">
    <div class="div-tabla">
      <div class="div-tabla-cuerpo">
        <div class="div-tabla-fila">
          <div class="div-tabla-celda" style="max-width: 10em">Fecha</div>
          <div class="div-tabla-celda" style="max-width: 10em">Municipio</div>
          <div class="div-tabla-celda" style="max-width: 10em">Presunto Responsable</div>
          <div class="div-tabla-celda" style="max-width: 10em">Categoría</div>
          <div class="div-tabla-celda" style="max-width: 10em">Víctima menor</div>
          <div class="div-tabla-celda" style="max-width: 10em">Acciones</div>
        </div>
        <% f.object.actonino.each do |an| %>
          <div class='div-tabla-fila'>
            <div class="div-tabla-celda">
              <%= an.fecha %>
            </div>
            <div class="div-tabla-celda">
              <%= an.ubicacionpre.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= an.presponsable.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= an.categoria.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= an.persona.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= link_to "Eliminar",
                main_app.eliminar_actonino_path(an.id),
                formmethod: :delete,
                formnovalidate: true,
                class: 'btn btn-sm btn-danger',
                data: {
                  turbo_frame: "actonino_#{f.index}",
                  "turbo-stream": "turbo-stream",
                  "turbo-method": :delete,
                  turbo: true,
                } %>
            </div>
          </div> <!-- tabla-fila -->
        <% end %>
        <div class='div-tabla-fila'>
          <% an = ::Actonino.new() %>
          <%= f.simple_fields_for an,
            url: main_app.crear_actonino_path(index: 0) do |fan| %>
            <div class="div-tabla-celda" style="max-width: 10em">
              <input class="form-control string optional msip-sf-bs-input"
                     type="date"
                     name="caso[actonino][fecha]"
                     value="<%= Msip::ModeloHelper.poromision_con2p(
                       params, :caso, :actonino, :fecha, ''
                     ) %>"
                     id="caso_actonino_fecha"
                     data-action="change->res1612#actualizar"
                     style="background-color: rgb(242, 242, 255); color: rgb(0, 0, 0);">
            </div>
            <div class="div-tabla-celda" style="max-width: 10em">
              <% sel = Msip::ModeloHelper.poromision_con2p(
                  params, :caso, :actonino, :ubicacionpre_id, ''
              ) %>
              <%= fan.association :ubicacionpre,
                collection: Msip::Ubicacionpre.where(pais_id: 170).
                where('departamento_id IS NOT NULL').
                where('municipio_id IS NOT NULL').
                where('clase_id IS NULL').
                where('lugar IS NULL').
                where('sitio IS NULL').order(:nombre),
                include_blank: true,
                label_method: :presenta_nombre,
                value_method: :id,
                label: false,
                selected: sel,
                input_html: {
                  "data-action": "change->res1612#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda" style="max-width: 10em">
              <% colpr = Sivel2Gen::Presponsable.habilitados.
              where("nombre_res1612 IS NOT NULL").
              where("TRIM(nombre_res1612) <> ''").
              order(:nombre_res1612) %>
              <%= fan.association :presponsable,
                collection: colpr,
                include_blank: true,
                label_method: lambda {|r| r.nombre_res1612},
                value_method: :id,
                label: false,
                selected: Msip::ModeloHelper.poromision_con2p(
                  params, :caso, :actonino, :presponsable_id, ''
                ),
                input_html: {
                  "data-action": "change->res1612#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda" style="max-width: 10em">
              <% colcategoria = Sivel2Gen::Categoria.habilitados.
              where("nombre_res1612 IS NOT NULL").
              where("TRIM(nombre_res1612) <> ''").
              order(:nombre_res1612) %>
              <%= fan.association :categoria,
                collection: colcategoria,
                include_blank: true,
                label_method: lambda {|r| r.nombre_res1612},
                value_method: :id,
                label: false,
                selected: Msip::ModeloHelper.poromision_con2p(
                  params, :caso, :actonino, :categoria_id, ''
                ),
                input_html: {
                  "data-action": "change->res1612#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda" style="max-width: 10em">
              <% colpersonas = Msip::Persona.where(id: @caso.persona_ids) %>
              <% if params && params[:caso] && params[:caso][:actonino] &&
                  params[:caso][:actonino][:fecha] %>
                <% fecha = Date.strptime(
                  params[:caso][:actonino][:fecha], "%Y-%m-%d") %>
                <% colpersonas = colpersonas.where(
                  'anionac<? OR '\
                  '(anionac = ? AND mesnac<?) OR '\
                  '(anionac = ? AND mesnac = ? AND dianac <= ?)',
                  fecha.year,
                  fecha.year, fecha.month,
                  fecha.year, fecha.month, fecha.day) %>
                <% colpersonas = colpersonas.where(
                  '? < (anionac+18) OR '\
                  '(? = (anionac+18) AND ? < mesnac) OR '\
                  '(? = (anionac+18) AND ? = mesnac AND ? < dianac)',
                  fecha.year,
                  fecha.year, fecha.month,
                  fecha.year, fecha.month, fecha.day) %>
              <% end %>
              <%= fan.association :persona,
                collection: colpersonas,
                include_blank: true,
                label_method: :presenta_nombre,
                value_method: :id,
                label: false,
                selected: Msip::ModeloHelper.poromision_con2p(
                  params, :caso, :actonino, :persona_id, ''
                ),
                input_html: {
                  "data-action": "change->res1612#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda" style="max-width: 10em">
              <%= link_to "Agregar",
                main_app.crear_actonino_path(
                  index: @caso.actonino.size,
                  caso_id: @caso.id
                ),
                formmethod: :post,
                formnovalidate: true,
                class: "btn btn-sm btn-primary",
                id: "agregar-actonino",
                data:  {
                  "turbo-stream": "turbo-stream",
                  "turbo-method": :post,
                  turbo: true,
                  "res1612-target": "botonacto"
                } %>
              <% if @problema %>
                <div><%= @problema %></div>
                <%= render partial: 'msip/hogar/errores',
                  locals: {f: fan} %>
              <% end %>
            </div>
          <% end %>
        </div> <!-- tabla-fila -->
      </div> <!-- tabla-cuerpo -->
    </div> <!-- tabla -->
  </div> <!-- panel -->
