<%= turbo_frame_tag "actosninos_marco" do %>
  <% copiaregistro = @registro %>
  <div class="panel-body table-responsive" >
    <div class="div-tabla"> 
      <div class="div-tabla-cuerpo">
        <div class="div-tabla-fila"> 
          <div class="div-tabla-celda" style="max-width: 10em">Fecha</div>
          <div class="div-tabla-celda" style="max-width: 10em">Municipio</div>
          <div class="div-tabla-celda" style="max-width: 10em">Presunto Responsable</div>
          <div class="div-tabla-celda" style="max-width: 10em">Categoría</div>
          <div class="div-tabla-celda" style="max-width: 10em">Víctima menor</div>
          <div class="div-tabla-celda" style="max-width: 10em">Acciones</div>
        </div>
        <% f.object.actonino.each do |an| %>
          <div class='div-tabla-fila'>
            <div class="div-tabla-celda">
              <%= an.fecha %>
            </div>
            <div class="div-tabla-celda">
              <%= an.ubicacionpre.presenta %>
            </div>
            <div class="div-tabla-celda">
              <%= an.presponsable.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= an.categoria.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= an.persona.presenta_nombre %>
            </div>
            <div class="div-tabla-celda">
              <%= link_to main_app.eliminar_actonino_path(an.id),
                formmethod: :delete,
                formnovalidate: true, 
                class: 'btn btn-sm btn-danger',
                data: { 
                  turbo_fram: "actonino_#{f.index}",
                  disable_with: false
                } %>
            </div> 
          </div> <!-- tabla-fila -->
        <% end %>
        <div class='div-tabla-fila' data-controller='msip--enlaceenviadatos'>
          <% @registro = an = ::Actonino.new() %>
          <%= simple_form_for an, url: main_app.crear_actonino_path(index: 0) do |fan| %>
            <div class="div-tabla-celda">
              <%= render partial: 'msip/modelos/msip_campo_aut', locals: {
                f: fan, 
                atr: :fecha, 
                opciones: {etiqueta: false},
                atributos_internos: {
                  "data-action": "change->enlaceenviadatos#actualizar"
                }
              } %>
            </div>
            <div class="div-tabla-celda">
              <%= fan.association :ubicacionpre,
                collection: Msip::Ubicacionpre.where(pais_id: 170).
                where('departamento_id IS NOT NULL').
                where('municipio_id IS NOT NULL').
                where('clase_id IS NULL').
                where('lugar IS NULL').
                where('sitio IS NULL').order(:nombre),
                label_method: :presenta_nombre,
                value_method: :id,
                label: false,
                input_html: {
                  class: 'chosen-select',
                  "data-action": "change->enlaceenviadatos#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda">
              <%= render partial: 'msip/modelos/msip_campo_aut', 
                locals: {
                  f: fan, 
                  atr: :presponsable, 
                  opciones: {etiqueta: false},
                  atributos_internos: {
                    "data-action": "change->enlaceenviadatos#actualizar"
                  }
                } %>
            </div> 
            <div class="div-tabla-celda">
              <%= render partial: 'msip/modelos/msip_campo_aut', 
                locals: {
                  f: fan, 
                  atr: :categoria, 
                  opciones: {etiqueta: false},
                  atributos_internos: {
                    "data-action": "change->enlaceenviadatos#actualizar"
                  }
                } %>
            </div>
            <div class="div-tabla-celda">
              <%= fan.association :persona,
                collection: Msip::Persona.where(id: @caso.persona_ids),
                label_method: :presenta_nombre,
                value_method: :id,
                label: false,
                input_html: {
                  class: 'chosen-select',
                  "data-action": "change->enlaceenviadatos#actualizar"
                }
              %>
            </div>
            <div class="div-tabla-celda">
              <%= link_to "Agregar acto de violencia contra menor",
                main_app.crear_actonino_path(
                  index: @caso.actonino.size, 
                  caso_id: @caso.id
                ),
                formmethod: :post,
                formnovalidate: true,
                class: 'btn btn-sm btn-primary',
                id: "agregar-actonino", 
                data:  {
                  "turbo-stream": "turbo-stream",
                  "turbo-method": :post,
                  turbo: true,
                  "msip--enlaceenviadatos-target": "boton"
                } %>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
  <% @registro = copiaregistro %>
<% end %>
